@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-btnContent: 156 163 175;
      --color-btnBackground: 0 0 0;
    }
  }

  .badge::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    padding: 1px;
    background-image: linear-gradient(
      170deg,
      rgba(0, 0, 0, 0.2) -6.28%,
      rgba(0, 0, 0, 0.4) 9.84%,
      #1E4FFD 38.59%,
      rgba(0, 0, 0, 0.4) 66.93%,
      transparent 122.67%
    );
    mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
    mask-composite: exclude;
  }
  .conf-gradient-wrapper_bluescaleBorder {
    -webkit-animation: spinGradient 5s linear infinite;
    animation: spinGradient 5s linear infinite;
    filter: blur(6px);
    background: conic-gradient(transparent 135deg, #1E4FFD 180deg, transparent 255deg),
      conic-gradient(transparent -45deg, #1E4FFD 0deg, transparent 75deg);
  }
  @keyframes spinGradient {
    0% {
      transform: scaleX(8) scaleY(1.5) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: scaleX(8) scaleY(1.5) rotate(1turn);
      opacity: 1;
    }
  }